* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --- Pseudo-class for the another browser input - placeholder ---*/
::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* Chrome <=56, Safari < 10 */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* FF 4-18 */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* FF 19-51 */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* IE 10+ */
::placeholder {
  opacity: 1;
  transition: opacity 0.5s;
} /* Modern Browsers */

*:focus::-webkit-input-placeholder {
  opacity: 0;
} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0;
} /* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0;
} /* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0;
} /* IE 10+ */
*:focus::placeholder {
  opacity: 0;
}

/* Modern Browsers */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  flex-direction: column;
}
textarea {
  resize: none;
}

h1 {
  margin-bottom: 20px;
  color: rgb(95, 90, 90);
}

.chat-box {
  width: 490px;
  height: 400px;
  background: #ece9e9;
  box-shadow: 2px 2px 10px 1px #333;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.section-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.input-text {
  height: 40px;
  border: 3px solid rgb(111, 181, 228);
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}

.input-text::placeholder {
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 10px;
}
.input-text:focus {
  outline-color: rgb(151, 229, 229);
}
.btn-send {
  background-color: cadetblue;
  border: none;
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  color: #fafafa;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
}

.btn-send:hover {
  background-color: rgb(82, 181, 226);
}

.text-area-chat {
  display: flex;
  justify-content: center;
}
.area {
  padding: 10px;
  background: rgb(253, 251, 251);
  width: 420px;
  height: 300px;
  border-radius: 5px;
  border: 3px solid rgb(111, 181, 228);
}

.wrap-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: rgb(236, 233, 233);
  border: 3px solid rgb(100, 145, 197);
  padding: 10px;
  border-radius: 10px;
  margin-left: 240px;
}

.wrap-message > span {
  font-size: 18px;
  color: #444141;
}
